* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(233, 202, 116);
}

main {
    background-color: rgb(207, 156, 14);
    min-width: 40%;
    min-height: 90%;
    border-radius: 20px;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.76);
}

img {
    width: 120px;
    border-radius: 60px;
    border: solid 2px white;
    margin: 0px 15px;
    cursor: pointer;
    box-shadow:7px 8px 10px rgba(0, 0, 0, 0.76) ;
}

header {
    margin-top: 4px;
    text-align: center;
}

header > h1 {
    color: white;
    font-weight: 1000;
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
   width: 30%;
   height: 35px;
   margin-bottom: 15px;
   border-radius: 8px;
   font-size: 20px;
}

.placar {
    margin: 5px 0px;
    text-align: center;
    font-size: 20px;
}
.ponto1, .ponto2{
    margin: 5px 10px;
    font-size: 50px;

}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p1, .p2{
    width: 110px;
    border-radius: 10px;
    border:solid 2px black;
    background-color: white;
    margin: 20px;
}

.ganhador {
    width: 100%;
    height: 40px;
    background-color: azure;
    text-align: center;
    font-size: 30px;
}

.maquina {
    margin: 20px 0px;
    text-align: center;
}

.escolhas {
    font-style:italic;
    color: white;
    font-weight: 800;
    width: 100%;
    height: 40px;
    background-color: rgb(207, 156, 14);
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
.escolhas2 {
    color: white;
    width: 100%;
    background-color: rgb(207, 156, 14);
    text-align: center;
    font-size: 20px;

}

.voce {
    margin: 20px 0px;
    text-align: center;
}

.bordavermelha {
    border: solid 3px #ff0000;
}

.bordaverde {
    border: solid 5px #ffffff;
}